<div class="row row-cols-5 mt-3">
  <% @products.each do |product| %>
    <div class="card m-2 p-1">
      <h4 class="card-title"><%= product.title %></h4>
      <p class="card-text"><%= product.description.truncate(100) %></p>
      <p class="text-success">Price: <%= product.price %></p>
      <p>
        <%= link_to 'Add to Cart', product_order_items_path(product),
                    data: { "turbo-method": :post },
                    class: 'btn btn-outline-success rounded-pill' %>
      </p>
    </div>
  <% end %>
</div>