<div class="row">
  <%= link_to 'Cheaper', products_path(price: :asc,
                                       min_price: params[:min_price],
                                       max_price: params[:max_price],
                                       category_ids: params[:category_ids]),
              class: 'col-1' %>
  <%= link_to 'More expensive', products_path(price: :desc,
                                              min_price: params[:min_price],
                                              max_price: params[:max_price],
                                              category_ids: params[:category_ids]),
              class: 'col' %>
</div>